body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
}

.card{
background:#1a1a1a;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px black;
}

nav{
background:#111;
padding:10px;
}
