body{
margin:0;
background:#0a0a0a;
color:white;
font-family:Arial;
}

.card{
background:#1c1c1c;
padding:20px;
margin:20px auto;
width:95%;
max-width:1200px;
}

nav{
background:#111;
padding:10px;
}
